<!-- <div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6"> <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal">Open Congratulations card Modal</button> </div>
    </div>

</div> -->
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog position-1">
    <div class="card">
        <div class="text-right cross"> <i class="fa fa-times"></i> </div>
        <div class="card-body text-center"> <img src="../assets/tenor.gif">
            <h2>Level up to {{ level }}</h2>
            <h3>If your life got little bit harder, that probably means you just <b>level up!</b></h3><p><b>Do something today that your future self will thank you for. You still have a lot of time to make yourself be what you want.</b></p> 
            <button class="btn btn-out btn-square continue">CONTINUE</button>
        </div>
    </div>
    </div>
</div>