

<div>


  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
<br>
<br>
<div class="row">
  <div class="col-sm-6">

  <div class="card">
<div class="card-header" style="background-color: rgb(150, 35, 35);">
    <div class="card mb-8" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top"  src="./assets/examvideo.png" alt="Card image cap" style="height: 300px;width: 200px;">
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h3 class="card-header" style="background-color: rgb(64, 151, 233);"><b>VIDEOS</b></h3>
            <p class="card-text" ><p>A video lesson or lecture is a video which presents educational material for a topic which is to be learned.</p>

            <a href="/app-videodisplay" class="btn btn-primary" >GO VIDEOS <i class="fa fa-file-video-o" style="font-size:30px;color:#fa0c2ce1"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>


    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header" style="background-color: rgb(150, 35, 35);">
    <div class="card mb-8" style="max-width: 900px; ">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top"  src="./assets/exam.jpg" alt="Card image cap" style="height: 300px;width: 180px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-header" style="background-color: rgb(64, 151, 233);"><b>PAPERS</b></h3>
            <p class="card-text"><p>Exams are a form of learning activity. They can enable students to see the material from a different perspective.</p>
            <a href="/app-grade06paper" class="btn btn-primary">GO PAPERS <i class="fa fa-file-pdf-o" style="font-size:30px;color:red"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>


