.margin-left{
  margin-left: 80px !important;
}

.intro {
  margin-top: -80px;
}

.img6{

  background-size: cover;
background-color: rgb(15, 48, 92);

height: 200px;

  width: 339px;

}
.img7{


  background-size: cover;
  background-color: rgb(12, 71, 10);

height: 200px;

  width: 339px;

}
.img8{

  background-size: cover;
  background-color:brown;

height: 200px;

  width: 339px;

}

.img9{

  background-size: cover;
background-color: #24a0ed;
height: 200px;

  width: 339px;

}
.img10{


  background-size: cover;
background-color: yellow;
height: 200px;

  width: 339px;

}
.img11{


  background-size: cover;
background-color:black;
height: 200px;

  width: 339px;

}



.btn-circle.btn-xl {
  width: 70px;
  height: 70px;


  font-size: 12px;
  text-align: center;
}

.card-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.mycontent-left {
  border-right: 1px dashed #333;
};

.test{
  background-image: url("src/assets/grade07.png");
  background-color: antiquewhite;

}



