

<div class="container-fluid" style="margin-left: -200px; margin-top: -90px; height: 535px;">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
  <div class="row min-vh-100 flex-column flex-md-row">
    <div class="card" style="width: 250px;">

          <nav class="navbar navbar-expand navbar-primary bg-sucess flex-md-column flex-row align-items-start py-3" style="background-color:white;height: 700px;">
              <div class="collapse navbar-collapse " >
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item">


                        <button  class="btn btn-warning" routerLink="/app-dashboard" style="margin-top: -5px;"><h2 style="color:#f7f5fa;width: 200px;"><i class="fa fa-dashboard" style="font-size:23px;color:rgb(157, 255, 0)"></i> Dashboard</h2></button>

                      </li>

                      <li class="nav-item">
                    <div class="card-header" style="background-color: #f7f5fa;">  <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/sign-up"><h3 style="text-align: left;font-weight: bold;"><i class="fa fa-registered" style="font-size:23px;color:blue"></i> Registration</h3></button>
                    </div>

                      </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/app-create-profile" ><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-upload" style="font-size:23px;color:blue"></i>  Advertisment</h3></button>
                        </div>

                      </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/app-pastpaper-center"><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-upload" style="font-size:23px;color:blue"></i> papers</h3></button>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/videos" ><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-upload" style="font-size:23px;color:blue"></i>  Videos</h3></button>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/app-announce-create"><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-bullhorn" style="font-size:23px;color:blue"></i> Announcement</h3></button>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                      <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/aboutUs"><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-upload" style="font-size:23px;color:blue"></i> About us  </h3></button>
                      </div>
                    </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/mcq-report-handler"><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-exclamation-triangle" style="font-size:23px;color:blue"></i> Mcq Handler</h3></button>
                        </div>
                      </li>


                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/app-user-details"><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-lock" style="font-size:23px;color:blue"></i> Video Acess</h3></button>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                        <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/admin-datails"><h3  style="text-align: left;font-weight: bold;"><i class="fas fa-user-friends" style="font-size:23px;color:blue"></i> Admin Details</h3></button>
                        </div>
                      </li>


                      <li class="nav-item">
                        <div class="card-header" style="background-color: #f7f5fa;">
                      <button  class="w3-button w3-white w3-round-small" style="width: 175px;"  routerLink="/messages-inbox"><h3  style="text-align: left;font-weight: bold;"><i class="fa fa-envelope" style="font-size:23px;color:blue"></i> Message</h3></button>
                      </div>
                    </li>


                    <li class="nav-item">
                      <button  class="w3-button w3-black w3-round" class="btn btn-danger" (click)="adminservice.adminLogoutuser()"><h2 style="color:#f7f5fa;width: 200px;"><i class="fa fa-sign-out" style="font-size:23px;color:rgb(157, 255, 0)"></i> Logout</h2></button>
                    </li>

                  </ul>
              </div>
          </nav>



  </div>
</div>
