<div
    id="intro-example"
  >

<mat-grid-list cols="2" rowHeight="650px" gutterSize="50px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" ><img mat-card-avatar src="assets/images/about1.jpg" ></div>
              <mat-card-title>We have 10 Years of Experience of any kind it solution</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/about1.jpg" alt="">
            <mat-card-content>
              <p>
                Technology services are professional services designed to facilitate the use of
                technology by enterprises and end users. Technology services provide specialized 
                technology-oriented solutions by combining the processes and 
                functions of software, hardware, networks, telecommunications and electronics.
              </p>
            </mat-card-content>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" ><img mat-card-avatar src="assets/images/about2.png" ></div>
              <mat-card-title>We Have Network Of Nenasala Center</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/about2.png" alt="">
            <mat-card-content>
              <p>
                Nenasala (Wisdom Outlet) is a telecentre project by the Government of Sri Lanka. 
                Developed under the e-Sri Lanka Initiative which is implemented by the ICT Agency 
                of Sri Lanka. Communication centers are being built by the government in rural 
                areas to help fight poverty, develop culture and commerce, and sustain peace.
                There are currently 751 such centers in the country,[2] with the most recent being 
                established in the Kuliyapitiya Technical college. However the number of e-Nenasala 
                centers was expected to extend up to 1000 centers by the end of the year 2010
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" ><img mat-card-avatar src="assets/images/about3.jpg" ></div>
              <mat-card-title>We Have 10 Years Of Experience Of Tech</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/about3.jpg" alt="">
            <mat-card-content>
              <p>
                Over 30,000 students have come to our institute for learning and services in recent years. 
                Like the high schools in the city in recent years, we have introduced new learning methods, 
                teaching on the training in an environment rich in computer technology.                      

                " The mission of our organization is to enable all rural children to experience 
                IT learning success and to become lifelong learners and to provide high quality 
                IT services to our customers"


              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" ><img mat-card-avatar src="assets/images/staff.jpg" ></div>
              <mat-card-title>Our Team</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/staff.jpg" alt="">
            <mat-card-content>
              <p>
                Teaching is tough, but these team building activities will make sure you always have a coworker 
                to fall back on! No one wants to feel like they’re all on their own so it’s crucial to get your 
                team to work together. A happy teacher can always lighten up the classroom, but a team of happy 
                teachers can really shake things up! Heads of Communications, Communications and External Relations, 
                Trainers and Teachers in the Classroom and IT Services - Staff - they all work for you.


              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="600px">
        <mat-grid-tile>
            <mat-card class="about-last">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" ><img mat-card-avatar src="assets/images/home2.png" ></div>
                  <mat-card-title>Nenasela</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/home2.png" alt="">
                <mat-card-content>
                  <p>
                    Nenasala (Wisdom Outlet) is a telecentre project by the Government of Sri Lanka. 
                    Developed under the e-Sri Lanka Initiative which is implemented by the ICT Agency of Sri Lanka. 
                    Communication centers are being built by the government in rural areas to help fight poverty, 
                    develop culture and commerce, and sustain peace.
    
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
