
    <br>
    <div class="intro">
    <div>
    
    <div class="container">
      <div class="row">
        <div class="col">
    
          <div class="card" style="width: 14rem; height: 16rem;" >
            <div class="card-header" style="width: 14rem; height: 16rem;">
            <div class="card-header" style="background-color: cyan;">
            <img class="card-img-top"  src="./assets/grade06.png" alt="Card image cap" style="height: 120px;width: 150px;">
            </div>
    
            <div class="card-body">
    
              <h2 class="card-title" style="margin-top: -15px;">GRADE 06</h2>
    
              <a href="/mcq-subjects/6" class="btn btn-danger"  style="margin-top: -15px; height: 40px; ">Go to QUIZ</a>
            </div>
    </div>
        </div>
        </div>
        <div class="col">
    
          <div class="card" style="width: 14rem; height: 16rem;" >
            <div class="card-header" style="width: 14rem; height: 16rem;">
            <div class="card-header" style="background-color: cyan;">
            <img class="card-img-top" src="./assets/grade07.png" alt="Card image cap"  style="height: 120px;width: 150px;">
            </div>
            <div class="card-body">
    
              <h2 class="card-title" style="margin-top: -15px;">GRADE 07</h2>
    
              <a href="/mcq-subjects/7" class="btn btn-danger" style="margin-top: -15px; height: 40px;">Go to QUIZ</a>
            </div>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card" style="width: 14rem; height: 16rem;" >
            <div class="card-header" style="width: 14rem; height: 16rem;">
              <div class="card-header" style="background-color: cyan;">
            <img class="card-img-top" src="./assets/grade08.png" alt="Card image cap"  style="height: 120px;width: 150px;">
            </div>
            <div class="card-body">
              <h2 class="card-title" style="margin-top: -15px;">GRADE 08</h2>
    
              <a href="/mcq-subjects/8" class="btn btn-danger" style="margin-top: -15px; height: 40px;">Go to QUIZ</a>
            </div>
          </div>
          </div>
        </div>
    
    
      </div>
    </div>
    
    
      <br>
      <div class="container">
    
        <div class="row">
          <div class="col">
    
            <div class="card" style="width: 14rem; height: 16rem;" >
              <div class="card-header" style="width: 14rem; height: 16rem;">
                <div class="card-header" style="background-color: cyan;">
            <img class="card-img-top" src="./assets/grade09.png" alt="Card image cap"  style="height: 120px;width: 150px;">
            </div>
            <div class="card-body">
              <h2 class="card-title" style="margin-top: -15px;">GRADE 09</h2>
    
              <a href="/mcq-subjects/9" class="btn btn-danger" style="margin-top: -15px; height: 40px;">Go to QUIZ</a>
            </div>
          </div>
          </div>
          </div>
          <div class="col">
    
            <div class="card" style="width: 14rem; height: 16rem;" >
              <div class="card-header" style="width: 14rem; height: 16rem;">
                <div class="card-header" style="background-color: cyan;">
              <img class="card-img-top" src="./assets/grade10.png" alt="Card image cap"  style="height: 120px;width: 150px;">
              </div>
              <div class="card-body">
                <h2 class="card-title" style="margin-top: -15px;">GRADE 10</h2>
    
                <a href="/mcq-subjects/10" class="btn btn-danger" style="margin-top: -15px; height: 40px;">Go to QUIZ</a>
              </div>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem; height: 16rem;" >
              <div class="card-header" style="width: 14rem; height: 16rem;">
                <div class="card-header" style="background-color: cyan;">
              <img class="card-img-top" src="./assets/grade11n.png" alt="Card image cap"  style="height: 120px;width: 150px;">
              </div>
              <div class="card-body">
                <h2 class="card-title" style="margin-top: -15px;">GRADE 11</h2>
    
                <a href="/mcq-subjects/11" class="btn btn-danger" style="margin-top: -15px; height: 40px;">Go to QUIZ</a>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
    
      </div>
    </div>

    
<!-- <br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="img6">
        <div class="card-body">
          <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 06</h5>
         <br>
         <br>
          <button type="button" routerLink="/mcq-subjects/6" class="btn btn-primary btn col-xs-2 margin-left ">Grade 06</button>
        </div>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="img7" >
        <div class="card-body">
          <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 07</h5>
          <br>
          <br>
          <button type="button" routerLink="/mcq-subjects/7" class="btn btn-success  btn-xl col-xs-2 margin-left">Grade 07</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="img8" >
        <div class="card-body">
          <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 08</h5>
          <br>
          <br>
          <button type="button" routerLink="/mcq-subjects/8" class="btn btn-danger  btn-xl col-xs-2 margin-left">Grade 08</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="img9" >
          <div class="card-body">
            <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 09</h5>
            <br>
            <br>
          <button type="button" routerLink="/mcq-subjects/9" class="fa fa-play" class="btn btn-info  btn-xl col-xs-2 margin-left">Grade 09 </button>
          </div>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="img10" >
          <div class="card-body">
            <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 10</h5>
            <br>
            <br>
            <button type="button" routerLink="/mcq-subjects/10" class="btn btn-warning  btn-xl col-xs-2 margin-left">Grade 10</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="img11" >
          <div class="card-body">
            <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 11</h5>
            <br>
            <br>
            <button type="button" routerLink="/mcq-subjects/11" class="btn btn-dark   btn-xl col-xs-2 margin-left">Grade 11</button>
          </div>
        </div>
      </div>
      </div>
    </div> -->